.login_page {
  height: 100vh;
  width: 100%;
  background-color: rgb(31, 103, 165);
}
.login_page .form {
  padding-top: 150px;
}
.login_page form {
  width: 400px;
  height: auto;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login_page form input {
  width: 100%;
  padding: 5px;
  border-bottom: 2px solid rgb(31, 103, 165) !important;
  border: none;
  outline: none;
  font-family: serif;
}
.login_page form label {
  font-size: 17px;
  font-family: serif;
  font-weight: 550;
  color: rgb(10, 61, 105);
}
.login_page .button {
  text-align: center;
}
.login_page button {
  width: 120px;
  border: none;
  background-color: rgb(10, 61, 105);
  color: #fff;
  font-size: 17px;
  font-family: serif;
  padding: 7px 0px;
}
